* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: lavender;
}

form {
  font-size: 1rem;
  background-color: ghostwhite;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 2px black;
  width: 400px;
  padding: 7px;
  margin: 10px auto;
}

form h2 {
  text-align: center;
  font-size: 1.5rem;
}

.input-controller {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.input-controller input,
.input-controller select {
  width: 100%;
  height: 35px;
  border: 1px solid black;
  border-radius: 4px;
}

.input-controller button {
  background-color: cornflowerblue;
  color: white;
  margin-top: 4px;
  height: 35px;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 15px;
}

.input-controller button:hover {
  cursor: pointer;
}

input:valid {
  border: 2px solid greenyellow;
}

input:invalid {
  border: 2px solid red;
}

span {
  font-size: 8px;
}

.input-controller .message {
  color: red;
  margin-top: -2px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  form {
    width: 70%;
  }
}

@media only screen and (max-width: 375px) {
  form {
    width: 80%;
    font-size: 70%;
  }

  .input-controller input,
  .input-controller select,
  .input-controller button {
    height: 80%;
  }
}

@media screen and (max-width: 320px) {
  form {
    width: 80%;
    font-size: 60%;
  }

  .input-controller input,
  .input-controller select,
  .input-controller button {
    height: 95%;
  }
}
